<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WoodClip .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,513}</string>
                <key>spriteSourceSize</key>
                <string>{10,513}</string>
                <key>textureRect</key>
                <string>{{1,1},{10,513}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldRope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,513}</string>
                <key>spriteSourceSize</key>
                <string>{10,513}</string>
                <key>textureRect</key>
                <string>{{1,516},{10,513}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silveryClip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,513}</string>
                <key>spriteSourceSize</key>
                <string>{10,513}</string>
                <key>textureRect</key>
                <string>{{1,1031},{10,513}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ropeSkin.png</string>
            <key>size</key>
            <string>{12,1545}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c2176c35394a209b74a262610a0eb7c:384713b6269eac84f0e41b64ff7d2d1c:7ea0f7afaa923d71844abfcb0ec3da23$</string>
            <key>textureFileName</key>
            <string>ropeSkin.png</string>
        </dict>
    </dict>
</plist>
