<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{79,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,99}</string>
                <key>textureRect</key>
                <string>{{107,1459},{79,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backpack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,79}</string>
                <key>spriteSourceSize</key>
                <string>{73,79}</string>
                <key>textureRect</key>
                <string>{{198,1459},{73,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dolls1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,166}</string>
                <key>spriteSourceSize</key>
                <string>{129,166}</string>
                <key>textureRect</key>
                <string>{{327,1389},{129,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dolls2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{495,1389},{126,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{104,89}</string>
                <key>spriteSourceSize</key>
                <string>{104,99}</string>
                <key>textureRect</key>
                <string>{{1,1459},{104,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{324,104}</string>
                <key>spriteSourceSize</key>
                <string>{364,112}</string>
                <key>textureRect</key>
                <string>{{383,1283},{324,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startPressBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{324,97}</string>
                <key>spriteSourceSize</key>
                <string>{360,111}</string>
                <key>textureRect</key>
                <string>{{1,1360},{324,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,75}</string>
                <key>spriteSourceSize</key>
                <string>{380,75}</string>
                <key>textureRect</key>
                <string>{{1,1283},{380,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mainImages.png</string>
            <key>size</key>
            <string>{722,1549}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7d3205565a7d05517b39f3eeb156d2f:9a857586757044333264d7f61943a7fc:59920fd5029d2a2db3512199ea4c8323$</string>
            <key>textureFileName</key>
            <string>mainImages.png</string>
        </dict>
    </dict>
</plist>
