<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,62}</string>
                <key>spriteSourceSize</key>
                <string>{85,62}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,42}</string>
                <key>spriteSourceSize</key>
                <string>{60,42}</string>
                <key>textureRect</key>
                <string>{{77,65},{60,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,67}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{1,135},{68,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seniorCrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,42}</string>
                <key>spriteSourceSize</key>
                <string>{60,42}</string>
                <key>textureRect</key>
                <string>{{77,127},{60,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wallet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,68}</string>
                <key>spriteSourceSize</key>
                <string>{74,68}</string>
                <key>textureRect</key>
                <string>{{1,65},{74,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>prop.png</string>
            <key>size</key>
            <string>{120,203}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db9b1a2927bb0353076c5a2c7f3c0b9f:f67d68318ca4de79cf3fbc5046a6a733:f00710e483f99d68c2a3ea567d288b30$</string>
            <key>textureFileName</key>
            <string>prop.png</string>
        </dict>
    </dict>
</plist>
