<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1193,66}</string>
                <key>spriteSourceSize</key>
                <string>{1193,66}</string>
                <key>textureRect</key>
                <string>{{1,561},{1193,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1193,417}</string>
                <key>spriteSourceSize</key>
                <string>{1193,417}</string>
                <key>textureRect</key>
                <string>{{1,1},{1193,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1192,67}</string>
                <key>spriteSourceSize</key>
                <string>{1192,67}</string>
                <key>textureRect</key>
                <string>{{1,492},{1192,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1192,70}</string>
                <key>spriteSourceSize</key>
                <string>{1192,70}</string>
                <key>textureRect</key>
                <string>{{1,420},{1192,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>table.png</string>
            <key>size</key>
            <string>{1195,628}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a71cf2d9e34dac95457b41a7d114591:e64844d1875d0a7f485df65ba08b9dca:9f125aa71c5c2418d32e9eacc87866c8$</string>
            <key>textureFileName</key>
            <string>table.png</string>
        </dict>
    </dict>
</plist>
