<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BaseTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{306,69}</string>
                <key>spriteSourceSize</key>
                <string>{402,75}</string>
                <key>textureRect</key>
                <string>{{172,241},{306,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GoldUI.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,54}</string>
                <key>spriteSourceSize</key>
                <string>{227,54}</string>
                <key>textureRect</key>
                <string>{{1,1},{227,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alert.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,92}</string>
                <key>spriteSourceSize</key>
                <string>{304,92}</string>
                <key>textureRect</key>
                <string>{{1,129},{304,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{184,31}</string>
                <key>spriteSourceSize</key>
                <string>{194,37}</string>
                <key>textureRect</key>
                <string>{{1,96},{184,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>energy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,37}</string>
                <key>spriteSourceSize</key>
                <string>{194,37}</string>
                <key>textureRect</key>
                <string>{{1,57},{194,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iphoneX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,122}</string>
                <key>spriteSourceSize</key>
                <string>{66,122}</string>
                <key>textureRect</key>
                <string>{{187,117},{66,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 650.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{197,57},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>通用牛逼场地(字体白色，描边颜色6b2a11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,75}</string>
                <key>spriteSourceSize</key>
                <string>{402,75}</string>
                <key>textureRect</key>
                <string>{{95,129},{402,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{256,548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31052ee25411713cd3033a91e955bd36:35f91d58e9cf09d59e3a1e0c035e010b:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
