<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-13}</string>
                <key>spriteSize</key>
                <string>{126,95}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{1383,1},{126,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{128,95}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{1253,1},{128,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{130,93}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{1121,1},{130,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{132,93}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{987,1},{132,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{134,93}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{851,1},{134,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{136,93}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{713,1},{136,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{138,93}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{433,1},{138,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{138,91}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{573,1},{138,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{140,91}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{291,1},{140,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{142,91}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{147,1},{142,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{144,91}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>woodClip.png</string>
            <key>size</key>
            <string>{1510,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70a9cd96f8177aaefac39b3807abf813:954ff201d8301cd82a6e8e1e47738b45:e33f49450eeb0c52b2d1dbae088fcf91$</string>
            <key>textureFileName</key>
            <string>woodClip.png</string>
        </dict>
    </dict>
</plist>
