<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>兑换和信息ui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,427}</string>
                <key>spriteSourceSize</key>
                <string>{225,427}</string>
                <key>textureRect</key>
                <string>{{1,1310},{225,427}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>兑换按钮.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,44}</string>
                <key>spriteSourceSize</key>
                <string>{113,44}</string>
                <key>textureRect</key>
                <string>{{956,811},{113,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>商品详细信息背景.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,60}</string>
                <key>spriteSourceSize</key>
                <string>{528,60}</string>
                <key>textureRect</key>
                <string>{{894,669},{528,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>地址.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,37}</string>
                <key>spriteSourceSize</key>
                <string>{68,37}</string>
                <key>textureRect</key>
                <string>{{894,1199},{68,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>地址信息输入框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{823,205}</string>
                <key>spriteSourceSize</key>
                <string>{823,205}</string>
                <key>textureRect</key>
                <string>{{1,669},{823,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>奖品框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,209}</string>
                <key>spriteSourceSize</key>
                <string>{207,209}</string>
                <key>textureRect</key>
                <string>{{430,1310},{207,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>姓名.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,37}</string>
                <key>spriteSourceSize</key>
                <string>{67,37}</string>
                <key>textureRect</key>
                <string>{{894,1269},{67,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>姓名框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,64}</string>
                <key>spriteSourceSize</key>
                <string>{197,64}</string>
                <key>textureRect</key>
                <string>{{826,669},{197,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>手机号码.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,38}</string>
                <key>spriteSourceSize</key>
                <string>{131,38}</string>
                <key>textureRect</key>
                <string>{{758,1381},{131,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>手机号码输入框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{473,64}</string>
                <key>spriteSourceSize</key>
                <string>{473,64}</string>
                <key>textureRect</key>
                <string>{{430,1521},{473,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>测试用图.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,141}</string>
                <key>spriteSourceSize</key>
                <string>{117,141}</string>
                <key>textureRect</key>
                <string>{{639,1308},{117,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>添加地址字体.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,33}</string>
                <key>spriteSourceSize</key>
                <string>{141,35}</string>
                <key>textureRect</key>
                <string>{{1,1537},{139,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>确定地址和添加地址按钮.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{180,71}</string>
                <key>spriteSourceSize</key>
                <string>{202,85}</string>
                <key>textureRect</key>
                <string>{{758,1308},{180,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>确定地址字体.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,34}</string>
                <key>spriteSourceSize</key>
                <string>{142,36}</string>
                <key>textureRect</key>
                <string>{{956,669},{140,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>确认UI.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,68}</string>
                <key>spriteSourceSize</key>
                <string>{177,68}</string>
                <key>textureRect</key>
                <string>{{639,1451},{177,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>背包1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{115,54}</string>
                <key>spriteSourceSize</key>
                <string>{117,54}</string>
                <key>textureRect</key>
                <string>{{818,1421},{115,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>背包背景.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1003,666}</string>
                <key>spriteSourceSize</key>
                <string>{1003,666}</string>
                <key>textureRect</key>
                <string>{{1,1},{1003,666}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>背景1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,430}</string>
                <key>spriteSourceSize</key>
                <string>{343,430}</string>
                <key>textureRect</key>
                <string>{{549,876},{343,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>背景2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{546,432}</string>
                <key>spriteSourceSize</key>
                <string>{546,432}</string>
                <key>textureRect</key>
                <string>{{1,876},{546,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>选中物品框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{142,1537},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>backAtlas.png</string>
            <key>size</key>
            <string>{1005,1586}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3309b85855b1470cdd8ca7d6ec05c43:ce83c003b399d7a0e617fc6a8f54e857:f119f6419a55cd7d50b3407ba17fe580$</string>
            <key>textureFileName</key>
            <string>backAtlas.png</string>
        </dict>
    </dict>
</plist>
