<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>分享按钮.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{1,576},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>外框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,573}</string>
                <key>spriteSourceSize</key>
                <string>{442,573}</string>
                <key>textureRect</key>
                <string>{{1,1},{442,573}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>确定按钮.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{96,576},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>clipTrue.png</string>
            <key>size</key>
            <string>{444,670}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a48c4abffd0541526fe47a10b1affe52:eb1cee5126fe5c034d2941f48098685c:ec64c9011988387ed87f48a073e3ec98$</string>
            <key>textureFileName</key>
            <string>clipTrue.png</string>
        </dict>
    </dict>
</plist>
