<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,59}</string>
                <key>spriteSourceSize</key>
                <string>{82,59}</string>
                <key>textureRect</key>
                <string>{{845,1066},{82,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,59}</string>
                <key>spriteSourceSize</key>
                <string>{82,59}</string>
                <key>textureRect</key>
                <string>{{882,1150},{82,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,59}</string>
                <key>spriteSourceSize</key>
                <string>{82,59}</string>
                <key>textureRect</key>
                <string>{{906,1066},{82,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>VIP等级：.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,24}</string>
                <key>spriteSourceSize</key>
                <string>{93,24}</string>
                <key>textureRect</key>
                <string>{{977,885},{93,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>个人信息背景.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,592}</string>
                <key>spriteSourceSize</key>
                <string>{490,592}</string>
                <key>textureRect</key>
                <string>{{1,666},{490,592}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>头像背景.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,108}</string>
                <key>spriteSourceSize</key>
                <string>{103,108}</string>
                <key>textureRect</key>
                <string>{{882,780},{103,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>头像背景框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,119}</string>
                <key>spriteSourceSize</key>
                <string>{112,119}</string>
                <key>textureRect</key>
                <string>{{882,666},{112,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>排行.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,24}</string>
                <key>spriteSourceSize</key>
                <string>{49,24}</string>
                <key>textureRect</key>
                <string>{{943,1206},{49,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>排行版.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,100}</string>
                <key>spriteSourceSize</key>
                <string>{380,100}</string>
                <key>textureRect</key>
                <string>{{595,885},{380,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数目.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,24}</string>
                <key>spriteSourceSize</key>
                <string>{46,24}</string>
                <key>textureRect</key>
                <string>{{595,1038},{46,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>查看.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,38}</string>
                <key>spriteSourceSize</key>
                <string>{78,38}</string>
                <key>textureRect</key>
                <string>{{879,987},{78,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>查看文字.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,24}</string>
                <key>spriteSourceSize</key>
                <string>{44,24}</string>
                <key>textureRect</key>
                <string>{{621,987},{44,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>背景框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,663}</string>
                <key>spriteSourceSize</key>
                <string>{1000,663}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,663}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>蓝色栏目.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{879,82}</string>
                <key>spriteSourceSize</key>
                <string>{879,82}</string>
                <key>textureRect</key>
                <string>{{1,1158},{879,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>账号.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,38}</string>
                <key>spriteSourceSize</key>
                <string>{230,38}</string>
                <key>textureRect</key>
                <string>{{647,987},{230,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>账号ID：.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,24}</string>
                <key>spriteSourceSize</key>
                <string>{80,24}</string>
                <key>textureRect</key>
                <string>{{967,1066},{80,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>道具 .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,24}</string>
                <key>spriteSourceSize</key>
                <string>{49,24}</string>
                <key>textureRect</key>
                <string>{{595,987},{49,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>道具.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{943,1150},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>金币数：.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,25}</string>
                <key>spriteSourceSize</key>
                <string>{84,25}</string>
                <key>textureRect</key>
                <string>{{595,1066},{84,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>钻石数：.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,24}</string>
                <key>spriteSourceSize</key>
                <string>{84,24}</string>
                <key>textureRect</key>
                <string>{{977,980},{84,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>黄色栏目.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,82}</string>
                <key>spriteSourceSize</key>
                <string>{221,82}</string>
                <key>textureRect</key>
                <string>{{622,1066},{221,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{1002,1241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89b4849c34d43d91b91b6b558e6f2f48:5319f811e7b53462e2645a90b85fe287:c11b6a542e58cbf6e51c9f5d8ff887d2$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
