<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>++++.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{844,1646},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5毛.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,204}</string>
                <key>spriteSourceSize</key>
                <string>{216,204}</string>
                <key>textureRect</key>
                <string>{{723,751},{216,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>一元场.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,440}</string>
                <key>spriteSourceSize</key>
                <string>{235,440}</string>
                <key>textureRect</key>
                <string>{{723,115},{235,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>主背景.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,115},{1280,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>任务.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{930,1047},{82,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>兑换.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,90}</string>
                <key>spriteSourceSize</key>
                <string>{86,90}</string>
                <key>textureRect</key>
                <string>{{751,1732},{86,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>公告.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,50}</string>
                <key>spriteSourceSize</key>
                <string>{99,50}</string>
                <key>textureRect</key>
                <string>{{960,175},{99,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>公告栏.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{962,41}</string>
                <key>spriteSourceSize</key>
                <string>{962,41}</string>
                <key>textureRect</key>
                <string>{{1,72},{962,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>公告的字.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{474,24}</string>
                <key>spriteSourceSize</key>
                <string>{478,24}</string>
                <key>textureRect</key>
                <string>{{239,1828},{474,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>分享.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,48}</string>
                <key>spriteSourceSize</key>
                <string>{99,50}</string>
                <key>textureRect</key>
                <string>{{960,521},{99,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>十元场.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,472}</string>
                <key>spriteSourceSize</key>
                <string>{236,472}</string>
                <key>textureRect</key>
                <string>{{1,1397},{236,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>右侧背景.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,492}</string>
                <key>spriteSourceSize</key>
                <string>{123,492}</string>
                <key>textureRect</key>
                <string>{{769,1152},{123,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>名字.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{229,43}</string>
                <key>spriteSourceSize</key>
                <string>{231,45}</string>
                <key>textureRect</key>
                <string>{{723,557},{229,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>商城.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,147}</string>
                <key>spriteSourceSize</key>
                <string>{225,147}</string>
                <key>textureRect</key>
                <string>{{723,602},{225,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>头像.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,59}</string>
                <key>spriteSourceSize</key>
                <string>{55,59}</string>
                <key>textureRect</key>
                <string>{{950,622},{55,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>头像栏.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,88}</string>
                <key>spriteSourceSize</key>
                <string>{415,88}</string>
                <key>textureRect</key>
                <string>{{894,1444},{415,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>头像框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{894,1345},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>头像背景(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{930,1131},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>娱乐场.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,510}</string>
                <key>spriteSourceSize</key>
                <string>{429,510}</string>
                <key>textureRect</key>
                <string>{{239,1397},{429,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>排行.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,45}</string>
                <key>spriteSourceSize</key>
                <string>{101,47}</string>
                <key>textureRect</key>
                <string>{{965,72},{101,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>签到.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,91}</string>
                <key>spriteSourceSize</key>
                <string>{84,91}</string>
                <key>textureRect</key>
                <string>{{751,1646},{84,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>背包.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,47}</string>
                <key>spriteSourceSize</key>
                <string>{101,47}</string>
                <key>textureRect</key>
                <string>{{894,1296},{101,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>背景.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1007,69}</string>
                <key>spriteSourceSize</key>
                <string>{1007,69}</string>
                <key>textureRect</key>
                <string>{{1,1},{1007,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>观战.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,205}</string>
                <key>spriteSourceSize</key>
                <string>{193,205}</string>
                <key>textureRect</key>
                <string>{{723,957},{193,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>设置.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,48}</string>
                <key>spriteSourceSize</key>
                <string>{99,50}</string>
                <key>textureRect</key>
                <string>{{941,946},{99,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>返回.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,70}</string>
                <key>spriteSourceSize</key>
                <string>{142,70}</string>
                <key>textureRect</key>
                <string>{{941,802},{142,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>金币.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{950,743},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>金币底纹.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,44}</string>
                <key>spriteSourceSize</key>
                <string>{245,44}</string>
                <key>textureRect</key>
                <string>{{723,1152},{243,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>钻石.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,57}</string>
                <key>spriteSourceSize</key>
                <string>{62,57}</string>
                <key>textureRect</key>
                <string>{{950,679},{62,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>钻石底纹.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,49}</string>
                <key>spriteSourceSize</key>
                <string>{255,59}</string>
                <key>textureRect</key>
                <string>{{960,276},{243,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>首冲.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,110}</string>
                <key>spriteSourceSize</key>
                <string>{86,110}</string>
                <key>textureRect</key>
                <string>{{894,1208},{86,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dollsHall.png</string>
            <key>size</key>
            <string>{1012,1870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03669c81b69f8b714ac954c012bbddd9:99cc2c2efb67661dd2ed8538657f5830:96d63bc382670915936d75b2b331a21f$</string>
            <key>textureFileName</key>
            <string>dollsHall.png</string>
        </dict>
    </dict>
</plist>
