<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{240,1188},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1000金币.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,41}</string>
                <key>spriteSourceSize</key>
                <string>{157,41}</string>
                <key>textureRect</key>
                <string>{{1,1058},{157,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10钻石.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,42}</string>
                <key>spriteSourceSize</key>
                <string>{119,42}</string>
                <key>textureRect</key>
                <string>{{89,1209},{119,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1055,596}</string>
                <key>spriteSourceSize</key>
                <string>{1055,596}</string>
                <key>textureRect</key>
                <string>{{1,1},{1055,596}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>变身棒.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,89}</string>
                <key>spriteSourceSize</key>
                <string>{100,89}</string>
                <key>textureRect</key>
                <string>{{337,1145},{100,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>变身棒_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,43}</string>
                <key>spriteSourceSize</key>
                <string>{154,43}</string>
                <key>textureRect</key>
                <string>{{44,1058},{154,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>大泡泡.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,151}</string>
                <key>textureRect</key>
                <string>{{89,1058},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>立即购买.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,85}</string>
                <key>spriteSourceSize</key>
                <string>{249,85}</string>
                <key>textureRect</key>
                <string>{{337,1058},{249,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>金币.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,95}</string>
                <key>spriteSourceSize</key>
                <string>{128,95}</string>
                <key>textureRect</key>
                <string>{{240,1058},{128,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>钻石.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,99}</string>
                <key>spriteSourceSize</key>
                <string>{122,99}</string>
                <key>textureRect</key>
                <string>{{428,1145},{122,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>first-brush.png</string>
            <key>size</key>
            <string>{598,1252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:198dfb2e3a408730a2c079dc63104771:0bd3c8426c18d6393681bce70f71521d:ba7d013d0960c61b350059701fb9d1be$</string>
            <key>textureFileName</key>
            <string>first-brush.png</string>
        </dict>
    </dict>
</plist>
