<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{724,862},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1000金币.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,41}</string>
                <key>spriteSourceSize</key>
                <string>{157,41}</string>
                <key>textureRect</key>
                <string>{{724,668},{157,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10钻石.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,42}</string>
                <key>spriteSourceSize</key>
                <string>{119,42}</string>
                <key>textureRect</key>
                <string>{{599,427},{119,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>变身棒.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,89}</string>
                <key>spriteSourceSize</key>
                <string>{100,89}</string>
                <key>textureRect</key>
                <string>{{724,528},{100,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>变身棒_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,43}</string>
                <key>spriteSourceSize</key>
                <string>{154,43}</string>
                <key>textureRect</key>
                <string>{{848,512},{154,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>大泡泡.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,151}</string>
                <key>textureRect</key>
                <string>{{724,711},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>娃娃.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,337}</string>
                <key>spriteSourceSize</key>
                <string>{301,337}</string>
                <key>textureRect</key>
                <string>{{599,1},{301,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>按钮.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,85}</string>
                <key>spriteSourceSize</key>
                <string>{249,85}</string>
                <key>textureRect</key>
                <string>{{599,340},{249,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>立即购买.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,44}</string>
                <key>spriteSourceSize</key>
                <string>{170,44}</string>
                <key>textureRect</key>
                <string>{{850,340},{170,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>背景.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{974,596}</string>
                <key>spriteSourceSize</key>
                <string>{974,596}</string>
                <key>textureRect</key>
                <string>{{1,1},{974,596}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>钻石.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,99}</string>
                <key>spriteSourceSize</key>
                <string>{122,99}</string>
                <key>textureRect</key>
                <string>{{724,427},{122,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>首冲礼包.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,123}</string>
                <key>spriteSourceSize</key>
                <string>{434,123}</string>
                <key>textureRect</key>
                <string>{{599,512},{434,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>first_blush.png</string>
            <key>size</key>
            <string>{901,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:471b5d227d7fa00be984f420cc378abb:535a92391c45d542cf1916f362ff1521:dd018a35378992d85f3a2389d621e1ab$</string>
            <key>textureFileName</key>
            <string>first_blush.png</string>
        </dict>
    </dict>
</plist>
