<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>主体人物.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,540}</string>
                <key>spriteSourceSize</key>
                <string>{333,540}</string>
                <key>textureRect</key>
                <string>{{1283,1},{333,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>加载文字.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,30}</string>
                <key>spriteSourceSize</key>
                <string>{170,30}</string>
                <key>textureRect</key>
                <string>{{935,723},{170,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>加载背景.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>进度条外面的.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,56}</string>
                <key>spriteSourceSize</key>
                <string>{476,56}</string>
                <key>textureRect</key>
                <string>{{1,723},{476,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>进度条里面的.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,35}</string>
                <key>spriteSourceSize</key>
                <string>{454,35}</string>
                <key>textureRect</key>
                <string>{{479,723},{454,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{1617,780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48caef7bd4d40bb5f68d3389dba97061:9a531f4eea463a98e1f316b29978631b:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
