<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>侧边栏礼物未选中.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,94}</string>
                <key>spriteSourceSize</key>
                <string>{130,94}</string>
                <key>textureRect</key>
                <string>{{179,664},{130,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>侧边栏礼物选中.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,94}</string>
                <key>spriteSourceSize</key>
                <string>{130,94}</string>
                <key>textureRect</key>
                <string>{{275,664},{130,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>侧边栏道具未选中.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,94}</string>
                <key>spriteSourceSize</key>
                <string>{130,94}</string>
                <key>textureRect</key>
                <string>{{371,664},{130,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>侧边栏道具选中.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,94}</string>
                <key>spriteSourceSize</key>
                <string>{130,94}</string>
                <key>textureRect</key>
                <string>{{467,664},{130,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>侧边栏金币未选中.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,94}</string>
                <key>spriteSourceSize</key>
                <string>{130,94}</string>
                <key>textureRect</key>
                <string>{{563,664},{130,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>侧边栏金币选中.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,94}</string>
                <key>spriteSourceSize</key>
                <string>{130,94}</string>
                <key>textureRect</key>
                <string>{{659,664},{130,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>侧边栏钻石未选中.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,94}</string>
                <key>spriteSourceSize</key>
                <string>{130,94}</string>
                <key>textureRect</key>
                <string>{{755,664},{130,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>侧边栏钻石选中.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,94}</string>
                <key>spriteSourceSize</key>
                <string>{130,94}</string>
                <key>textureRect</key>
                <string>{{851,664},{130,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>底板.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{963,661}</string>
                <key>spriteSourceSize</key>
                <string>{963,663}</string>
                <key>textureRect</key>
                <string>{{1,1},{963,661}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>道具背景栏.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,171}</string>
                <key>spriteSourceSize</key>
                <string>{176,171}</string>
                <key>textureRect</key>
                <string>{{1,664},{176,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shopbg.png</string>
            <key>size</key>
            <string>{965,836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:add4f7e9dae1def1f626b21e5fe220d7:d59810045a63f7b96d212abe1d2976c2:c35ee23bf46f8f344a7d37df8b9ff898$</string>
            <key>textureFileName</key>
            <string>shopbg.png</string>
        </dict>
    </dict>
</plist>
