<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Panda.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{125,137}</string>
                <key>textureRect</key>
                <string>{{1,1},{103,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panda1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{125,137}</string>
                <key>textureRect</key>
                <string>{{140,1},{103,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panda2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{125,137}</string>
                <key>textureRect</key>
                <string>{{279,1},{103,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{107,137}</string>
                <key>spriteSourceSize</key>
                <string>{125,137}</string>
                <key>textureRect</key>
                <string>{{1,213},{107,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{107,137}</string>
                <key>spriteSourceSize</key>
                <string>{125,137}</string>
                <key>textureRect</key>
                <string>{{140,213},{107,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bear2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{107,137}</string>
                <key>spriteSourceSize</key>
                <string>{125,137}</string>
                <key>textureRect</key>
                <string>{{279,213},{107,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{105,137}</string>
                <key>spriteSourceSize</key>
                <string>{125,137}</string>
                <key>textureRect</key>
                <string>{{1,106},{105,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pig1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{105,137}</string>
                <key>spriteSourceSize</key>
                <string>{125,137}</string>
                <key>textureRect</key>
                <string>{{140,106},{105,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pig2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{105,137}</string>
                <key>spriteSourceSize</key>
                <string>{125,137}</string>
                <key>textureRect</key>
                <string>{{279,106},{105,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{417,321}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bad06eb6198126f469346b4a530266cb:9950c1b9acdbb8a1fa645cc65a9c59e2:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
