<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>108元金币.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,97}</string>
                <key>spriteSourceSize</key>
                <string>{124,97}</string>
                <key>textureRect</key>
                <string>{{127,797},{124,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>108元钻石.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,107}</string>
                <key>spriteSourceSize</key>
                <string>{126,107}</string>
                <key>textureRect</key>
                <string>{{147,552},{126,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12元金币.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,72}</string>
                <key>spriteSourceSize</key>
                <string>{142,72}</string>
                <key>textureRect</key>
                <string>{{1,629},{142,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12元钻石.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,84}</string>
                <key>spriteSourceSize</key>
                <string>{145,84}</string>
                <key>textureRect</key>
                <string>{{1,448},{145,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28元金币.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,74}</string>
                <key>spriteSourceSize</key>
                <string>{112,74}</string>
                <key>textureRect</key>
                <string>{{179,1},{112,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28元钻石.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,93}</string>
                <key>spriteSourceSize</key>
                <string>{144,93}</string>
                <key>textureRect</key>
                <string>{{1,534},{144,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>328元金币 - 副本.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,100}</string>
                <key>spriteSourceSize</key>
                <string>{124,100}</string>
                <key>textureRect</key>
                <string>{{1,793},{124,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>50元金币.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,90}</string>
                <key>spriteSourceSize</key>
                <string>{122,90}</string>
                <key>textureRect</key>
                <string>{{165,115},{122,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>50元钻石.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,88}</string>
                <key>textureRect</key>
                <string>{{1,703},{128,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>618元金币.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,100}</string>
                <key>spriteSourceSize</key>
                <string>{124,100}</string>
                <key>textureRect</key>
                <string>{{1,793},{124,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6元金币.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,71}</string>
                <key>spriteSourceSize</key>
                <string>{96,71}</string>
                <key>textureRect</key>
                <string>{{105,1014},{96,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6元钻石.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,83}</string>
                <key>spriteSourceSize</key>
                <string>{102,83}</string>
                <key>textureRect</key>
                <string>{{1,1014},{102,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>冰冻魔法(30钻石).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,117}</string>
                <key>spriteSourceSize</key>
                <string>{119,117}</string>
                <key>textureRect</key>
                <string>{{1,895},{119,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>双倍药水(50钻石).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,105}</string>
                <key>spriteSourceSize</key>
                <string>{117,105}</string>
                <key>textureRect</key>
                <string>{{149,433},{117,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>变身棒(10钻石).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,94}</string>
                <key>spriteSourceSize</key>
                <string>{106,94}</string>
                <key>textureRect</key>
                <string>{{149,337},{106,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>大喇叭(3元).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,120}</string>
                <key>spriteSourceSize</key>
                <string>{146,120}</string>
                <key>textureRect</key>
                <string>{{1,326},{146,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>小喇叭(一元).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,96}</string>
                <key>textureRect</key>
                <string>{{157,239},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>小钻石.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{203,1014},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>游艇(100元).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,84}</string>
                <key>spriteSourceSize</key>
                <string>{176,84}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>火箭(500元).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,154}</string>
                <key>spriteSourceSize</key>
                <string>{153,154}</string>
                <key>textureRect</key>
                <string>{{1,171},{153,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>跑车(50元).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,82}</string>
                <key>spriteSourceSize</key>
                <string>{162,82}</string>
                <key>textureRect</key>
                <string>{{1,87},{162,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>饭团（1元）.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,116}</string>
                <key>spriteSourceSize</key>
                <string>{115,116}</string>
                <key>textureRect</key>
                <string>{{122,896},{115,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>鸡腿(10元).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,115}</string>
                <key>spriteSourceSize</key>
                <string>{107,115}</string>
                <key>textureRect</key>
                <string>{{145,680},{107,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shopImg.png</string>
            <key>size</key>
            <string>{256,1098}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cc05f6713971e4d4204561e60d9076d:fa913b96b263a7c02d205c9e45ca951e:db79622e5d0dfcc22e90c9527207693a$</string>
            <key>textureFileName</key>
            <string>shopImg.png</string>
        </dict>
    </dict>
</plist>
