<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{126,95}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{1377,1},{126,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{128,93}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{1247,1},{128,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{130,93}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{1115,1},{130,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{132,93}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{981,1},{132,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{134,93}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{709,1},{134,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{134,93}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{845,1},{134,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{136,93}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{571,1},{136,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{138,91}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{431,1},{138,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{140,91}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{289,1},{140,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{142,91}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{142,89}</string>
                <key>spriteSourceSize</key>
                <string>{200,169}</string>
                <key>textureRect</key>
                <string>{{145,1},{142,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>goldClip.png</string>
            <key>size</key>
            <string>{1504,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4b1386c168fb59dea66b1910294681e:75d4be3f7aecb5987209aba60ce1cdb9:8498a73d4d020ead8cc6895f0b215617$</string>
            <key>textureFileName</key>
            <string>goldClip.png</string>
        </dict>
    </dict>
</plist>
