<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50话费.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1,72},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PS4游戏机.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,26}</string>
                <key>spriteSourceSize</key>
                <string>{66,26}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iPhone8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,43}</string>
                <key>spriteSourceSize</key>
                <string>{27,43}</string>
                <key>textureRect</key>
                <string>{{1,124},{27,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>urBeats耳机.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,41}</string>
                <key>spriteSourceSize</key>
                <string>{56,41}</string>
                <key>textureRect</key>
                <string>{{1,29},{56,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>京东购物卡50元.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{59,32},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>富士拍立得.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,42}</string>
                <key>spriteSourceSize</key>
                <string>{24,42}</string>
                <key>textureRect</key>
                <string>{{74,145},{24,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>祝福金条2g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{30,124},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>红米note5a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{74,110},{33,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>艾美特取暖.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{54,40}</string>
                <key>textureRect</key>
                <string>{{59,68},{54,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>阿玛尼男围巾.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,44}</string>
                <key>spriteSourceSize</key>
                <string>{29,44}</string>
                <key>textureRect</key>
                <string>{{69,1},{29,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1yuan.png</string>
            <key>size</key>
            <string>{117,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb6a6cd92ada5f239ca39ffec459dece:2c8d7a4144f65ce598cc0c411a1ca471:be7d52d23c026e72eaa3c1c8ace5866b$</string>
            <key>textureFileName</key>
            <string>1yuan.png</string>
        </dict>
    </dict>
</plist>
