<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>传家金条3g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,42}</string>
                <key>spriteSourceSize</key>
                <string>{25,42}</string>
                <key>textureRect</key>
                <string>{{1,1},{25,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>小米充电宝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{38,44}</string>
                <key>textureRect</key>
                <string>{{1,28},{38,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>福字金条2g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{1,68},{40,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>福字金条5g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,43}</string>
                <key>spriteSourceSize</key>
                <string>{44,43}</string>
                <key>textureRect</key>
                <string>{{1,110},{44,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>转运珠0.22g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,46}</string>
                <key>spriteSourceSize</key>
                <string>{66,46}</string>
                <key>textureRect</key>
                <string>{{1,155},{66,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>5mao.png</string>
            <key>size</key>
            <string>{48,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b21b770c32bdaed12d0be06438c60f4:49977496e6ccc087723ef5e2ae30b6f0:4d88be821807b37c60518d18fca00461$</string>
            <key>textureFileName</key>
            <string>5mao.png</string>
        </dict>
    </dict>
</plist>
